<div class="card card--product">
  <div class="card__image">
    <div class="card__image-option">
      <div class="card__bg-icon-btn">
        <i class="pi pi-heart"></i>
      </div>
    </div>
    <img
      class="card__image-content"
      src="assets/productImages/jacket.png"
      alt="Text"
    />
  </div>
  <div class="card__content">
    <div class="card__title">
      <h4 class="card__title-text">Aurora Blue Shirt</h4>
    </div>
    <div class="flex justify-content-between align-items-center flex-warp">
      <h5>Aurora</h5>
      <p-chip label="Jacket" class="jacket-chip"></p-chip>
    </div>
    <div class="flex justify-content-between align-items-center">
      <i
        ><h5>Price: <span>500 $</span></h5></i
      >
      <i>
        <h5>Stock: <span>500</span></h5>
      </i>
    </div>
  </div>
  <div class="card__action">
    <p-button label="Add to stock" styleClass="p-button-sm"></p-button>
  </div>
</div>
