<div class="card card--product" *ngIf="product">
  <div class="card__image">
    <div class="card__image-option">
      <div class="card__bg-icon-btn">
        <i class="pi pi-heart"></i>
      </div>
    </div>
    <img
      class="card__image-content"
      [src]="'assets/productImages/' + product.image"
    />
  </div>
  <div class="card__content">
    <div class="card__title">
      <h4 class="card__title-text">{{ product.name }}</h4>
    </div>
    <div class="flex justify-content-between align-items-center flex-warp">
      <h5>{{ product.brandName }}</h5>
      <p-chip
        [label]="product.category | titlecase"
        [ngClass]="getChipClass(product.category)"
      ></p-chip>
    </div>
    <div class="flex justify-content-between align-items-center">
      <i
        ><h5>
          Price: <span>{{ product.price }} $</span>
        </h5></i
      >
      <i>
        <h5>
          Stock: <span>{{ product.stock }}</span>
        </h5>
      </i>
    </div>
  </div>
  <div class="card__action">
    <p-button label="Add to stock" styleClass="p-button-sm"></p-button>
  </div>
</div>
