<div class="page_container">
  <!-- Page Header -->
  <div class="flex justify-content-between align-items-center flex-warp">
    <div class="content_container">
      <h3 class="title">Products</h3>
    </div>
    <div
      class="flex justify-content-between align-items-center flex-warp gap-20"
    >
      <!-- Brand Filter -->
      <app-dropdown
        [dropdownOptions]="brandlist"
        [placeholder]="'Filter by brand'"
        (optionSelected)="onFilter($event, FilterType.BrandName)"
      ></app-dropdown>
      <!-- Category Filter -->
      <app-dropdown
        [dropdownOptions]="categorylist"
        [placeholder]="'Filter by Category'"
        (optionSelected)="onFilter($event, FilterType.Category)"
      ></app-dropdown>
      <!-- Sort Filter -->
      <app-dropdown
        [dropdownOptions]="priceList"
        [placeholder]="'Sort by price'"
        (optionSelected)="onFilter($event, FilterType.Price)"
      ></app-dropdown>
    </div>
  </div>

  <!-- Page content -->
  <div class="content_container">
    <div *ngFor="let product of productList">
      <app-product-card [product]="product"></app-product-card>
    </div>
  </div>
</div>
